@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('xrzda2cq.html') format('woff2'), url('m71u98l6.html') format('woff'), url('2adcqhso.html') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('3nhl_4k-.html') format('woff2'), url('r3v1h_up.html') format('woff'), url('78xkojb8.html') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('l6os_448.html') format('woff2'), url('awq87_1l.html') format('woff'), url('p1troji5.html') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('qc9086aq.html') format('woff2'), url('fs_ef-j6.html') format('woff'), url('vxnzykqo.html') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('jm3iir_1.html') format('woff2'), url('_c4yrw7f.html') format('woff'), url('n7ht_7oy.html') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('oul2stgk.html') format('woff2'), url('d_y61yd0.html') format('woff'), url('sd1189wh.html') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('mzw8m75i.html') format('woff2'), url('bc_aka2y.html') format('woff'), url('qib72ljf.html') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('rvrekibd.html') format('woff2'), url('gksutolg.html') format('woff'), url('we7dazr0.html') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('d0642nop.html') format('woff2'), url('3p8i-tx5.html') format('woff'), url('hv_3f44n.html') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('i8ol-pwk.html') format('woff2'), url('9lqqju6o.html') format('woff'), url('mr4kp5a7.html') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('-z6h009g.html') format('woff2'), url('0phl_6hk.html') format('woff'), url('dikgefo3.html') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('e70o_2g1.html') format('woff2'), url('5l15i8p5.html') format('woff'), url('iqenoh8y.html') format('truetype');
    font-weight: 900;
    font-style: italic;
}
