@font-face {
    font-family: 'AvenirNextCyr';
    src: url('efyh1ey9.html') format('woff2'),
        url('5v-y_k7m.html') format('woff'),
        url('i0cgfvo6.html') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('6mlea9_x.woff2') format('woff2'),
        url('vbmukd7a.html') format('woff'),
        url('_7pdqoou.html') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('fygxdhzj.html') format('woff2'),
        url('6ohcnm8y.html') format('woff'),
        url('jhwwtxpg.html') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr';
    src: url('8-dttzuq.woff2') format('woff2'),
        url('wpr925r6.html') format('woff'),
        url('aut4ie_o.html') format('truetype');
    font-weight: 700;
    font-style: normal;
}





